{% extends 'seller_header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>

<head>
  
</head>

<body>

  <div class="hero_area">
    
    <!-- slider section -->
    <section class="slider_section ">
      <div class="slider_bg_box">
        <img src="{% static 'images/slider-bg.jpg' %}" alt="">
      </div>
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h1>
                      Stylish Watches
                    </h1>
                    <p>
                      Discover Luxury Watches for Men & Women at best prices and great offers
                    </p>
                    <p>
                      With over 10,000 customers visiting our website every week, it is the best market for sellers like you!
                    </p>
                    <div class="btn-box">
                      <a href="{% url 'seller_add_product' %}" class="btn1">
                        Lets's Get Started!
                      </a>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h1>
                      New Arrivals
                    </h1>
                    <p>
                      Find all the new luxury watches at one stop!
                    </p>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container ">
              <div class="row">
                <div class="col-md-7">
                  <div class="detail-box">
                    <h1>
                      Discover Watches
                    </h1>
                    <p>
                      Sign Up with us and explore wide range of luxurious watches at affordable prices
                    </p>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          
        </div>
        <ol class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="1"></li>
          <li data-target="#customCarousel1" data-slide-to="2"></li>
          
        </ol>
      </div>

    </section>
    <!-- end slider section -->
  </div>


  <!-- service section -->

  <section class="service_section">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-lg-3">
          <div class="box ">
            <div class="img-box">
              <img src="{% static 'images/feature-1.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Fast Delivery
              </h5>
              <p>
                Your product will be delivered within 3 days
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box ">
            <div class="img-box">
              <img src="{% static 'images/feature-2.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Free Shiping
              </h5>
              <p>
                Guaranteed Free Shiping on every purchase
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box ">
            <div class="img-box">
              <img src="{% static 'images/feature-3.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                Best Quality
              </h5>
              <p>
                Original watches from standard brands around the world
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="box ">
            <div class="img-box">
              <img src="{% static 'images/feature-4.png' %}" alt="">
            </div>
            <div class="detail-box">
              <h5>
                24x7 Customer support
              </h5>
              <p>
                We are at your service 24x7
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end service section -->


  <!-- about section -->

  <section class="about_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6">
          <div class="img_container">
            <div class="img-box b1">
              <img src="{% static 'images/a-1.jpg' %}" alt="">
            </div>
            <div class="img-box b2">
              <img src="{% static 'images/a-2.jpg' %}" alt="">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="detail-box">
            <h2>
              About Our Shop
            </h2>
            <p>
              The HandTime watch store is India's leading luxury, Premium & Smart watches brand store, with over 40 international brands. Shop branded watches for women and men with us.
            </p>
            <a href="{% url 'seller_add_product' %}">
              Let's Sell Watches!
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end about section -->


  <!-- product section -->

  <section class="product_section ">
    <div class="container">
      <div class="product_heading">
        <h2>
          Top Sale Watches
        </h2>
      </div>
      <div class="product_container">
        {% for i in products %}
        <div class="box">
          <div class="box-content">
            <div class="img-box">
              <img src="{{i.product_image.url}}" alt="">
            </div>
            <div class="detail-box">
              <div class="text">
                <h6>
                  {{i.product_name}}
                </h6>
                <h5>
                  <span>Rs.</span> {{i.product_price}}
                </h5>
              </div>
              <div class="like">
                <h6>
                  Like
                </h6>
                <div class="star_container">
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                  <i class="fa fa-star" aria-hidden="true"></i>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        {% endfor %}
        
      </div>
    </div>
  </section>

  <!-- end product section -->


  <!-- product section -->

  


  <!-- end product section -->


  <!-- product section -->

  


  <!-- end product section -->

  <!-- contact section -->
  <section class="contact_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          Contact Us
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            {% if msg %}
              <b style="color: blue;">{{msg}}</b>
            {% endif %}
            <form method="post" action="{% url 'seller_contact' %}">
              {% csrf_token %}
              <div>
                <input type="text" placeholder="Your Name" name="name"/>
              </div>
              <div>
                <input type="text" placeholder="Phone Number" name="mobile"/>
              </div>
              <div>
                <input type="email" placeholder="Email" name="email"/>
              </div>
              <div>
                <input type="text" class="message-box" placeholder="Message" name="message"/>
              </div>
              <div class="btn_box">
                <button>
                  SEND
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="col-md-6 ">
          <div class="map_container">
            <div class="map">
              <div id="googleMap"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end contact section -->


  <!-- client section -->
  <section class="client_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Testimonial
        </h2>
      </div>
    </div>
    <div id="customCarousel2" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="{% static 'images/client.jpg' %}" alt="">
                  </div>
                  <div class="detail-box">
                    <div class="client_info">
                      <div class="client_name">
                        <h5>
                          Ashfaaq Mohammad
                        </h5>
                        <h6>
                          Customer
                        </h6>
                      </div>
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                    </div>
                    <p>
                      Had zero intention of purchasing a new watch, but some click bait took me to HandTime.com.
                      And the end result was an excellent purchase of an Analog Titan Raga that is an excellent watch at an equitable price. 
                      I did not realize how much the Titan brand had expanded and wear the new watch proudly.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="{% static 'images/man.jpg' %}" alt="">
                  </div>
                  <div class="detail-box">
                    <div class="client_info">
                      <div class="client_name">
                        <h5>
                          Krutarth Solanki
                        </h5>
                        <h6>
                          Customer
                        </h6>
                      </div>
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                    </div>
                    <p>
                      I bought an Series 3 Apple Smart Watch- the James Bond edition from you earlier this year. 
                      I am very happy with the watch and all my friends remark on it. 
                      Sadly recently the crown and stem have stopped working. I know that I am probably out of guarantee, but I am willing within reason to pay for repairs. I would appreciate your help!
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <div class="box">
                  <div class="img-box">
                    <img src="{% static 'images/man2.jpg' %}" alt="">
                  </div>
                  <div class="detail-box">
                    <div class="client_info">
                      <div class="client_name">
                        <h5>
                          Amit Chaturvedi
                        </h5>
                        <h6>
                          Customer
                        </h6>
                      </div>
                      <i class="fa fa-quote-left" aria-hidden="true"></i>
                    </div>
                    <p>
                      I purchased two Archtype Smart watches. These are among several other watches I purchased from HandTime.com. 
                      Each purchases went smoothly and the delivery was prompt.
                      As for the two watches, the only reason I made the purchase was due to them being on sale! Haha
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ol class="carousel-indicators">
        <li data-target="#customCarousel2" data-slide-to="0" class="active"></li>
        <li data-target="#customCarousel2" data-slide-to="1"></li>
        <li data-target="#customCarousel2" data-slide-to="2"></li>
      </ol>
    </div>
  </section>
  <!-- end client section -->


   <!-- info section -->
  <section class="info_section layout_padding2">
    <div class="container">
      <div class="info_logo">
        <h2>
          HandTime
        </h2>
      </div>
      <div class="row">

        <div class="col-md-3">
          <div class="info_contact">
            <h5>
              About Shop
            </h5>
            <div>
              <div class="img-box">
                <img src="{% static 'images/location-white.png' %}" width="18px" alt="">
              </div>
              <p>
                The Times Pinnacle,6th Floor,S.G Highway,Ahmedabad,Gujarat,India.
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="{% static 'images/telephone-white.png' %}" width="12px" alt="">
              </div>
              <p>
                (079)25453500
              </p>
            </div>
            <div>
              <div class="img-box">
                <img src="{% static 'images/envelope-white.png' %}" width="18px" alt="">
              </div>
              <p>
                handtime@gmail.com
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="info_info">
            <h5>
              Informations
            </h5>
            <p>
              The watch size refers to the dial or face's diameter in millimeters.If you prefer a smaller watch size,we recommend 36mm for men and 32mm for women.
            </p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="info_insta">
            <h5>
              Instagram
            </h5>
            <div class="insta_container">
              <div class="row m-0">
                <div class="col-4 px-0">
                  <a href="">
                    <div class="insta-box b-1">
                      <img src="{% static 'images/w1.png' %}" alt="">
                    </div>
                  </a>
                </div>
                <div class="col-4 px-0">
                  <a href="">
                    <div class="insta-box b-1">
                      <img src="{% static 'images/w2.png' %}" alt="">
                    </div>
                  </a>
                </div>
                <div class="col-4 px-0">
                  <a href="">
                    <div class="insta-box b-1">
                      <img src="{% static 'images/w3.png' %}" alt="">
                    </div>
                  </a>
                </div>
                <div class="col-4 px-0">
                  <a href="">
                    <div class="insta-box b-1">
                      <img src="{% static 'images/w4.png' %}" alt="">
                    </div>
                  </a>
                </div>
                <div class="col-4 px-0">
                  <a href="">
                    <div class="insta-box b-1">
                      <img src="{% static 'images/w5.png' %}" alt="">
                    </div>
                  </a>
                </div>
                <div class="col-4 px-0">
                  <a href="">
                    <div class="insta-box b-1">
                      <img src="{% static 'images/w6.png' %}" alt="">
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-3">
          <div class="info_form ">
            <h5>
              Newsletter
            </h5>
            <form action="">
              <input type="email" placeholder="Enter your email">

              <button>
                Subscribe
              </button>
            </form>
            <div class="social_box">
              <a href="">
                <img src="{% static 'images/fb.png' %}" alt="">
              </a>
              <a href="">
                <img src="{% static 'images/twitter.png' %}" alt="">
              </a>
              <a href="">
                <img src="{% static 'images/linkedin.png' %}" alt="">
              </a>
              <a href="">
                <img src="{% static 'images/youtube.png' %}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info_section -->

</body>

</html>
{% endblock %}